<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ config.title }}</title>
  <link rel="stylesheet" href="{{ get_url(path='main.css') }}">
</head>

<body>
<div class="container">
<h1 class="site-title">Bernhard's Blog</h1>

<nav class="site-nav">
<a href="{{ get_url(path='/') }}">Home</a>
<a href="{{ get_url(path='about') }}">About</a>
<a href="{{ get_url(path='contact') }}">Contact</a>
</nav>

  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
  </div>
</body>

</html>
