{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<nav class="site-nav">
<a href="{{ get_url(path='@/blog/_index.md') }}">Home</a>
<a href="{{ get_url(path='about') }}">About</a>
<a href="{{ get_url(path='contact') }}">Contact</a>
</nav>

<div class="posts">
    {% for page in paginator.pages %}
        <article class="post">
            <h2> {{ page.title }} </h2>
            <div class="post__summary">
                {{ page.summary | safe }}
            </div>
            <div class="read-more">
                <a href="{{ page.permalink }}">Read more...</a>
            </div>
        </article>
    {% endfor %}
</div>

<nav class="pagination">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
</nav>

{% endblock content %}
